.bar{
    position: fixed;
    width: 100vw;
    height: 12vw;
    z-index: 1;
    line-height: 12vw;
    text-align: center;
    font-size: 6vw;
    background-color: white;
    box-shadow: 0 4px 10px 0px #0000004a;
}
.bar > .back{
    background-image: url('../back.png');
    background-size: cover;
    width: 6vw;
    height: 6vw;
    position: absolute;
    left: 3vw;
    top: 3vw;
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(233,233,233,0.8);
    z-index: 999;
}

.model-open{
    overflow: hidden;
}

.done{
    height: 60vw;
    width: 60vw;
    padding: 8vw;
    background-color: white;
    border-radius: 4px;
    border: 1px solid grey;
    text-align: center;
    font-size: 3vw;
}

.done > h3{
    font-weight: normal;
    margin-top: 10vw;
    font-size: 6.5vw;
}

.done > .ok{
    margin-bottom: 7vw;
}

.ok{
    font-size: 4vw;
    background-color: #0AA06E;
    border-radius: 4px;
    color: white;
    padding: 1vw 3vw;
    margin-bottom: 1vw;
    display: inline-block;
}

.cancel{
    text-decoration: underline;
}

.customer{
    height: 100vw;
    width: 80vw;
    padding: 4vw;
    background-color: white;
    border-radius: 4px;
    border: 1px solid grey;
    text-align: center;
    font-size: 3vw;
}
.c-head{
    font-size: 10vw;
    color: #efcf7d;
    margin-bottom: 3vw;
}
.c-detail{
    display: flex;
    line-height: 6vw;
}
.c-detail >div:nth-child(odd){
    margin-left: 3vw;
    margin-right: 3vw;
}
.c-detail >div:nth-child(even){
    font-size: 4vw;
}
.c-note{
    height: 25vw;
    border: 1px solid black;
    overflow: auto;
}
.customer .ok{
    margin-top: 3vw;
}
